/* ---------> General */
:root {
  --main-bg: rgb(21, 15, 9);
  --text: #f3e3c7;
  box-sizing: border-box;
  font-family: 'Life Savers', cursive;
  font-size: 400;
  color: var(--text);
  --main-shadow: 1px 1px 10px rgb(21, 15, 9, 0.5);
  --global-margin: 1.5rem;
}

body {
  background-color: var(--main-bg);
  margin: 0;
  font-size: 16px;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
  font-size: 0.6rem;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  height: max-content;
  width: max-content;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

.display-none {
  display: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

input,
textarea {
  color: var(--text);
  border: 1px solid var(--text);
  box-sizing: border-box;
  border-radius: 20px;
  background: none;
  display: block;
  width: 100%;
  padding: 0.2em;
}

textarea {
  height: 4rem;
}

main {
  min-height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 700px) {
  :root {
    --global-margin: 2rem;
  }

  h1 {
    font-size: 2.4rem;
    line-height: 1.5;
  }
}

@media (min-height: 1000px) {
  body {
    overflow: hidden;
  }
}

/* ---------> Background */
.bg-photo {
  background-image: url('./assets/bg-photo.png');
  --overlay: rgba(0, 0, 0, 0);
}

.bg-photo-blurred {
  background-image: url('./assets/bg-photo-blurred.png');
  --overlay: rgba(0, 0, 0, 0.5);
}

.background {
  background-color: var(--main-bg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50em;
}

.background-overlay {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    to bottom,
    var(--main-bg),
    var(--overlay),
    var(--main-bg),
    var(--main-bg)
  );
  background: -webkit-linear-gradient(
    to bottom,
    var(--main-bg),
    var(--overlay),
    var(--main-bg),
    var(--main-bg)
  );
  background: -ms-linear-gradient(
    to bottom,
    var(--main-bg),
    var(--overlay),
    var(--main-bg),
    var(--main-bg)
  );
  background: linear-gradient(
    to bottom,
    var(--main-bg),
    var(--overlay),
    var(--main-bg),
    var(--main-bg)
  );
}

@media (min-width: 700px) {
  .background {
    background-size: 80em;
  }
  .background-overlay {
    background: -webkit-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 70%
    );
    background: -webkit-linear-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 70%
    );
    background: -ms-linear-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 70%
    );
    background: linear-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 70%
    );
  }
}

@media (min-width: 1280px) {
  .background {
    width: 1280px;
    margin: 0 auto;
  }
  .background-overlay {
    background: -webkit-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 85%
    );
    background: -webkit-linear-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 85%
    );
    background: -ms-linear-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 85%
    );
    background: linear-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 85%
    );
  }
}
/* ---------> Header */

header {
  width: 100%;
  min-height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 14em;
  margin-left: var(--global-margin);
}

.navbar {
  z-index: 2;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg);
  opacity: 0.85;
  text-align: right;
  right: 100;
  display: none;
}

.navbar-button {
  margin-right: var(--global-margin);
  width: calc(var(--global-margin) * 2);
}

.img-close {
  display: none;
}

.navbar-list {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.navbar-list-item {
  font-size: 1.9rem;
  line-height: 2.7;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: 700px) {
  .logo {
    padding-top: 3em;
    width: 25em;
  }

  .navbar {
    top: 0;
    width: 35vw;
    text-align: right;
    display: none;
  }

  .navbar-list {
    width: 100%;
    text-align: right;
  }

  .navbar-list-item {
    margin-right: var(--global-margin);
  }
}

/* Classes to open navbar  */
.navbar-open .navbar-button {
  z-index: 100;
}
.navbar-open .navbar-button img {
  content: url('./assets/close\ nav\ button.png');
}
.navbar-open .navbar {
  display: unset;
  right: 0;
}
.navbar-open .img-close {
  display: unset;
}
.navbar-open .img-open {
  display: none;
}
/* /////////////////// */

@media (min-width: 1200px) {
  .navbar {
    z-index: unset;
    top: unset;
    position: unset;
    width: unset;
    height: unset;
    background-color: transparent;
    opacity: unset;
    text-align: right;
    right: unset;
    display: unset;
  }

  .navbar-button {
    display: none;
  }

  .navbar-list {
    text-align: center;
    width: unset;
    margin: 0;
    margin-right: var(--global-margin);

    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .navbar-list-item {
    font-size: 1.9rem;
    line-height: unset;
    padding-right: 0;
    padding-left: 1em;
  }
}

/* ---------> Footer */
footer {
  min-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.footer-left {
  margin-bottom: 2em;
}

.copyright {
  display: block;
  font-size: 0.4em;
  text-align: center;
  padding-bottom: 3em;
}

@media (min-width: 700px) {
  footer p {
    font-size: 0.9rem;
  }

  .footer-left {
    margin-bottom: 0;
    margin-left: var(--global-margin);
  }

  .footer-right {
    margin-right: var(--global-margin);
  }

  .copyright {
    font-size: 0.6em;
  }

  .footer-flex-container {
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
  }

  .footer-left {
    text-align: left;
  }

  .footer-right {
    text-align: right;
  }
}


/* ---------> History */

.history-container {
  text-align: center;
  max-width: 700px;
  padding: calc(var(--global-margin) + 1.5em);
}

.history-container span {
  font-size: 1.7em;
}

.history-container img {
  display: none;
}

.history-container h1 {
  align-self: center;
}

.history-container p {
  line-height: 160%;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 3em;
}

@media (min-width: 600px)  {
  .history-container {
    text-align: left;
    display: grid;
    column-gap: 10%;
    grid-template-columns: 35% 55%;
  }

  .history-container img {
    display: unset;
  }

  .history-container p {
    grid-column: span 2;
    font-size: .8rem;
  }
}

@media (min-width: 1200px)  {
    .history-container p {
    font-size: 1rem;
  }
  
}

/* ---------> articles */

.categories-grid {
  display: grid;
  column-gap: 2em;
  row-gap: 2em;
  overflow-x: scroll;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.categories-grid::-webkit-scrollbar {
  display: none; /* Chrome etc*/
}

.categories-grid {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.category {
  width: 100px;
  text-align: center;
}

.category-img {
  border-radius: 17.48px;
  box-shadow: var(--main-shadow);
}

@media (min-widt: 700px) {
  .category {
    width: 150px;
    text-align: center;
  }
}

/* ---------> Contacts */

.contacts-container,
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.contact-form {
  text-align: left;
  height: 250px;
}

.contacts-column h1 {
  text-align: left;
  margin-bottom: 2em;
}

.map {
  display: none;
}

.info {
  margin-top: 1em;
}

.info p {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 700px) {
  .contacts-container {
    flex-direction: row;
    padding: 3em 2em;
  }

  .contacts-column,
  .contacts-column-2 {
    width: 35%;
  }

  .contacts-column-2 {
    align-self: center;
  }

  .map {
    display: unset;
  }

  .form h1 {
    margin-bottom: 3em;
  }

  .info {
    margin-top: 4em;
    text-align: right;
  }
}
