/* ---------> General */
:root {
  --main-bg: rgb(21, 15, 9);
  --text: #f3e3c7;
  box-sizing: border-box;
  font-family: 'Life Savers', cursive;
  font-size: 400;
  color: var(--text);
}

body {
  background-color: var(--main-bg);
  margin: 0;
  padding: 0;
  font-size: 16px;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

.main-padding {
  padding: 2em 1.5em;
}

p {
  line-height: 1.5;
  font-size: 0.6rem;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  height: max-content;
  width: max-content;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

.display-none {
  display: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* ---------> Background */
.bg-photo {
  background-image: url('./assets/bg-photo.png');
  --overlay: rgba(0,0,0,0);
}

.bg-photo-blurred {
  background-image: url('./assets/bg-photo-blurred.png');
  --overlay: rgba(0,0,0,0.5);
}

.background {
  background-color: var(--main-bg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50em;
}

.background-overlay {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    to bottom,
    var(--main-bg),
  var(--overlay),
    var(--main-bg),
    var(--main-bg)
  );
  background: -webkit-linear-gradient(
    to bottom,
    var(--main-bg),
  var(--overlay),
    var(--main-bg),
    var(--main-bg)
  );
  background: -ms-linear-gradient(
    to bottom,
    var(--main-bg),
  var(--overlay),
    var(--main-bg),
    var(--main-bg)
  );
  background: linear-gradient(
    to bottom,
    var(--main-bg),
  var(--overlay),
    var(--main-bg),
    var(--main-bg)
  );
}

/* ---------> Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.logo {
  width: 14em;
}

header button img {
  width: 3.5em;
}

.navbar {
  z-index: 2;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg);
  opacity: 0.85;
  text-align: right;
  left: 100vw;
  display: none;
}

.navbar-open {
  display: initial;
  left: 0;
}

.navbar-button-close {
  display: inline-block;
  margin-top: 4em;
  padding-right: 1.9em;
  text-align: right;
}

.navbar-list {
  text-align: center;
  margin-top: 3em;
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.navbar-list-item {
  font-size: 1.9rem;
  line-height: 2.7;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

/* ---------> Footer */

footer {
  position: absolute;
  bottom: 0;
  height: 15em;
  width: 100%;
}

.footer-content {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-content-left,
.footer-content-right {
  text-align: center;
}

.copyright {
  display: block;
  font-size: 0.4em;
  text-align: center;
}


/* ---------> History */
main {
  padding: 3em;
}

.history-container {
  text-align: center;
}

.history-container p {
  line-height: 160%;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 3em;
}