/* ---------> General */
:root {
  --main-bg: rgb(21, 15, 9);
  --text: #f3e3c7;
  box-sizing: border-box;
  font-family: 'Life Savers', cursive;
  font-size: 400;
  color: var(--text);
  --main-shadow: 1px 1px 10px rgb(21, 15, 9, 0.5);
  --global-margin: 1.5rem;
  --global-content-margin: calc(var(--global-margin) + 1.5em);
}

body {
  background-color: var(--main-bg);
  margin: 0;
  font-size: 16px;
  position: relative;
  height: 100vh;
}

img {
  width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
  font-size: 0.6rem;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  height: max-content;
  width: max-content;
  cursor: pointer;
}

button:hover,
button:active {
  border: 0;
}

button[type='submit'] {
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.3s linear;
  display: inline;
  margin: 0;
  padding: 0.2em 1em;
}

button[type='submit']:disabled,
button[type='submit']:disabled:hover {
  cursor: initial;
  color: grey;
  border-color: grey;
  opacity: unset;
}

button[type='submit']:hover {
  opacity: 0.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.display-none {
  display: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

input,
textarea,
button[type='submit'] {
  color: var(--text);
  border: 1px solid var(--text);
  border-radius: 20px;
  background: none;
  resize: none;
}

input,
textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.2em;
  padding-left: 0.75em;
  margin: 1em 0;
  font-family: inherit;
}

.invalid-sub input:invalid,
.invalid-sub textarea:invalid {
  border: 1px solid red;
}

*:focus {
  outline: none;
}

input[type='checkbox'] {
  display: none;
}

label a {
  font-weight: bolder;
  text-decoration: underline;
}

label > input[type='checkbox'] + *::before {
  content: '\00a0';
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 20px;
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--text);
  color: var(--text);
  margin-right: 1em;
  line-height: 90%;
  text-align: right;
  cursor: pointer;
}

label > input[type='checkbox']:checked + *::before {
  content: '\2713';
}

textarea {
  min-height: 4rem;
}

main {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 700px) {
  :root {
    --global-margin: 2rem;
  }

  h1 {
    font-size: 2.4rem;
    line-height: 1.5;
  }
}

@media (min-height: 1000px) {
  body {
    overflow: hidden;
  }
}

/* ---------> Scrollbar */

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f3e3c717;
  border-radius: 20px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #f3e3c717 transparent;
}

/* ---------> Background */
.bg-photo {
  background-image: url('./assets/bg-photo.png');
  --overlay: rgba(0, 0, 0, 0);
  animation: background-load 2s linear;
}

.bg-photo-blurred {
  background-image: url('./assets/bg-photo-blurred.png');
  --overlay: rgba(0, 0, 0, 0.5);
  animation: background-load 2s linear;
}

.background {
  background-color: var(--main-bg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50em;
}

.background-overlay {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    to bottom,
    var(--main-bg),
    var(--overlay),
    var(--main-bg),
    var(--main-bg)
  );
  background: -webkit-linear-gradient(
    to bottom,
    var(--main-bg),
    var(--overlay),
    var(--main-bg),
    var(--main-bg)
  );
  background: -ms-linear-gradient(
    to bottom,
    var(--main-bg),
    var(--overlay),
    var(--main-bg),
    var(--main-bg)
  );
  background: linear-gradient(
    to bottom,
    var(--main-bg),
    var(--overlay),
    var(--main-bg),
    var(--main-bg)
  );
}

@media (min-width: 700px) {
  .background {
    background-size: 80em;
  }
  .background-overlay {
    background: -webkit-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 70%
    );
    background: -webkit-linear-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 70%
    );
    background: -ms-linear-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 70%
    );
    background: linear-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 70%
    );
  }
}

@media (min-width: 1280px) {
  .background {
    width: 1280px;
    margin: 0 auto;
  }
  .background-overlay {
    background: -webkit-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 85%
    );
    background: -webkit-linear-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 85%
    );
    background: -ms-linear-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 85%
    );
    background: linear-gradient(
      to bottom,
      var(--main-bg) 1%,
      var(--overlay) 49%,
      var(--main-bg) 85%
    );
  }
}
/* ---------> Header */

header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 14em;
  margin-left: var(--global-margin);
}

.navbar {
  z-index: 10;
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg);
  opacity: 0.85;
  text-align: right;
  right: 100vw;
  display: none;
}

.navbar-button {
  margin-right: var(--global-margin);
  width: calc(var(--global-margin) * 2);
  transition: transform 0.2s ease-in;
}

.navbar-button:hover {
  transform: scale(1.1);
}

.img-close {
  display: none;
}

.navbar-list {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.navbar-list-item {
  font-size: 1.9rem;
  line-height: 2.7;
  position: relative;
  width: max-content;
  margin: 0 auto;
}

.navbar-list-item:before {
  content: '';
  position: absolute;
  height: 0.05em;
  top: 60px;
  width: 0;
  background-color: var(--text);
  transition: width 0.5s linear 0.2s;
}

.navbar-list-item:hover:before,
.navbar-list-item:focus:before,
.navbar-list-item:active:before {
  width: 100%;
}

.active {
  font-weight: bold;
  transform: scale(1.2);
}

@media (max-width: 350px) {
  .logo {
    width: 11em;
  }
}

@media (max-height: 550px) and (min-width: 700px) {
  .navbar-list {
    margin-top: 140px;
  }
}

@media (min-width: 700px) {
  .logo {
    padding-top: 3em;
    width: 25em;
  }

  .navbar {
    width: 35vw;
    text-align: right;
  }

  .navbar-list {
    width: 100%;
    text-align: right;
  }

  .navbar-list-item {
    margin-right: var(--global-margin);
  }
}

/* Classes to open navbar  */
.navbar-open .navbar-button {
  z-index: 100;
}
.navbar-open .navbar-button img {
  content: url('./assets/close\ nav\ button.png');
}
.navbar-open .navbar {
  display: unset;
  right: 0;
}
.navbar-open .img-close {
  display: unset;
}
.navbar-open .img-open {
  display: none;
}
/* /////////////////// */

@media (min-width: 1200px) {
  .navbar {
    z-index: unset;
    top: unset;
    position: unset;
    width: unset;
    height: unset;
    background-color: transparent;
    opacity: unset;
    text-align: right;
    right: unset;
    display: unset;
  }

  .navbar-button {
    display: none;
  }

  .navbar-list {
    text-align: center;
    width: unset;
    margin: 0;
    margin-right: var(--global-margin);

    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .navbar-list-item {
    font-size: 1.9rem;
    line-height: unset;
    padding-right: 0;
    padding-left: 1em;
  }

  .navbar-list-item:before {
    top: 40px;
  }

  .navbar-list-item:hover:before,
  .navbar-list-item:focus:before,
  .navbar-list-item:active:before {
    width: 50%;
  }
}

/* ---------> Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.footer-left {
  margin-bottom: 2em;
}

.copyright {
  display: block;
  font-size: 0.4em;
  text-align: center;
  padding-bottom: 3em;
  padding-top: 2em;
}

#lang-switcher {
  cursor: pointer;
  font-family: 'Life Savers', cursive;
}

#flag {
  width: 9px;
  margin-left: 0.5em;
  height: 9px;
  border-radius: 100%;
}

#lang-switcher {
  color: var(--text);
  background: none;
  border: none;
  /* On firefox only  */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

#lang-switcher option {
  background-color: var(--main-bg);
  border: none;
  outline: none;
}

@media (min-width: 700px) {
  footer p {
    font-size: 0.9rem;
  }

  .footer-left {
    margin-bottom: 0;
    margin-left: var(--global-margin);
  }

  .footer-right {
    margin-right: var(--global-margin);
  }

  .copyright {
    font-size: 0.6em;
  }

  .footer-flex-container {
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
  }

  .footer-left {
    text-align: left;
  }

  .footer-right {
    text-align: right;
  }
}

/* ---------> History */

.history-container {
  text-align: center;
  max-width: 700px;
  padding: var(--global-content-margin);
}

.history-container .year {
  font-size: 1.7em;
}

.history-container img {
  display: none;
}

.history-container h1 {
  align-self: center;
}

.history-container p {
  line-height: 160%;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 3em;
}

@media (min-width: 600px) {
  .history-container {
    text-align: left;
    display: grid;
    column-gap: 10%;
    grid-template-columns: 35% 55%;
  }

  .history-container img {
    display: unset;
  }

  .history-container p {
    grid-column: span 2;
    font-size: 0.8rem;
  }
}

@media (min-width: 1200px) {
  .history-container p {
    font-size: 1rem;
  }
}

/* ---------> articles */

.articles-grid {
  display: grid;
  column-gap: 3em;
  row-gap: 4em;
  overflow-x: scroll;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  justify-content: space-between;
  min-width: 200px;
  margin: 6em 0;
}

.policy-container::-webkit-scrollbar,
.articles-grid::-webkit-scrollbar {
  display: none; /* Chrome etc*/
}

.policy-container,
.articles-grid {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.product-grid {
  margin-top: 1em;
}

.categories-header {
  margin-left: var(--global-margin);
  margin-right: var(--global-margin);
  display: flex;
  align-items: center;
  margin-top: 3em;
}

.categories-header svg {
  width: 20px;
  margin-right: var(--global-margin);
  transition: transform 0.4s;
}

.categories-header svg {
  width: 20px;
  margin-right: var(--global-margin);
}

.categories-header svg:hover {
  transform: scale(1.3);
}

.scroll-btn {
  width: var(--global-margin);
  cursor: pointer;
}

.scroll-btn svg {
  height: 40px;
  transition: transform 0.4s;
}

.scroll-btn svg:active,
.scroll-btn svg:focus {
  transform: scale(1.3);
}

.scroll-btn-right {
  transform: rotate(180deg);
}

.category {
  width: 130px;
  text-align: center;
}

.category a {
  display: block;
  cursor: pointer;
}

.category-img-container {
  border-radius: 17.48px;
  box-shadow: var(--main-shadow);
  height: 150px;
  margin-bottom: 0.5em;
  overflow: hidden;
}

.category-img {
  object-fit: cover;
  height: 100%;
  transition: transform 0.4s;
}

.category-img-animation:hover {
  transform: scale(1.1);
}

@media (min-width: 1000px) {
  .category {
    width: 130px;
  }
  .categories-grid {
    column-gap: 5em;
  }
}

/* ---------> Contacts&Privacy */

.contacts-container {
  width: 100%;
  max-width: 700px;
  margin: 3em var(--global-content-margin);
}

.contacts-container,
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.contact-form {
  text-align: left;
  height: 300px;
}

.contacts-column h1 {
  text-align: left;
}

.contacts-column-2 {
  text-align: center;
}

.form-last-row {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-last-row label {
  margin-right: 1em;
}

.form-last-row span {
  line-height: 1.5;
}

.form-alert {
  font-size: 0.6em;
  float: right;
}

.gMap {
  background-image: url('./assets/maps.png');
  background-position: center;
  background-size: cover;
  width: auto;
  height: 200px;
  margin-top: 3em;
  border-radius: 20px;
}

.info {
  margin-top: 2em;
}

.info p {
  font-weight: bold;
  font-size: 0.8rem;
}

@media (max-width: 300px) {
  .form-last-row {
    flex-direction: column;
  }

  .form-last-row label {
    margin-right: 0;
    margin-bottom: 1em;
    font-size: 0.8rem;
  }

  .form-last-row button {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .contacts-container {
    flex-direction: row;
  }

  .contacts-column,
  .contacts-column-2 {
    width: 45%;
  }

  .contacts-column-2 {
    align-self: center;
    text-align: right;
  }

  .gMap {
    display: block;
    width: 200px;
    margin: 0;
    margin-left: auto;
  }

  .form h1 {
    margin-bottom: 3em;
  }

  .info {
    margin-top: 4em;
  }

  .info p {
    font-size: 1rem;
  }
}

.policy-container {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 80%;
  height: 500px;
}

.policy-container p {
  font-size: 1rem;
}

@media (min-width: 800px) {
  .gMap {
    width: 250px;
    height: 250px;
  }
}

/*Animations*/

@keyframes background-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes underline {
  from {
    text-decoration: none;
  }
  to {
    text-decoration: underline;
  }
}
